$sm: 	 "screen and (max-width: 480px)";
$md: 	 "screen and (min-width: 481px) and (max-width: 767px)";
$lg:	 "screen and (min-width: 768px) and (max-width: 1023px)";
$lgf1:	 "screen and (min-width: 1024px) and (max-width: 1366px)";
$lgf2:	 "screen and (min-width: 1367px) and (max-width: 1500px)";
$lgf3:	 "screen and (min-width: 1501px)";

$path: './assets/img'; 
$version: '0.1'; 